<h2><%= @book.title%></h2>
<%= image_tag @book.picture, class: "img-thumbnail box", width: 120 if @book.picture.attached? %>
<% if user_signed_in? %>
    <% if @can_add %>
        <p> <%= link_to "Add to my list", add_book_to_list_path(id: @book), class: "btn btn-info" %></p>
    <% else %>
        <p> <%= link_to 'Remove from my list', @book, method: "delete", class: "btn btn-danger"%></p>
    <% end %>
<% end %>
<p><%= @book.author.name%></p>
<p><%= @book.genre%></p>
<p><%= number_to_currency @book.price %></p>
<hr/>
    <div>
        <h4>Review</h4>
        <% if user_signed_in? %>
        <%= link_to "Add Review", new_review_path(book: @book), class: "btn btn-primary" %>
        <% end %>
        <p>Overall Rating: <%= @rating %></p>
        <% if @reviews%>
            <% @reviews.each do |review| %>
            <div>
                <p class="rating"><%= "Rating: #{review.rating}" %></p>
                <p><%= review.user.email %></p>
                <p><%= review.comment %></p>
            </div>
            <% end %>
        <% end %>
    </div>
<hr/>

<p><%= link_to "Back", :back %></p>
